body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(to bottom, #ffffff, #9ef7ed);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
}

.form-container {
    background: rgba(123, 123, 123, 0.6);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-switch-buttons {
    margin-bottom: 1.5rem;
}

.form-switch-buttons .btn {
    border-radius: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-control {
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}

.btn-danger {
    background-color: #6be0e8;
    border-color: #6be0e8;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
}

.btn-danger:hover {
    background-color: #6be0e8;
    border-color: #6be0e8;
}

.btn-outline-danger {
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
}

.d-none {
    display: none !important;
}

#backtohome-btn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}